<div class="About Page">
  <h2>
    About Furkle Industries
  </h2>

  <h3>
    What is Furkle Industries?
  </h3>

  <p>
    Furkle Industries is a one-person web development studio specializing in
    fast, modern, and efficient websites for businesses, as well as code and
    design for interactive digital narratives.
  </p>

  <h3>
    What can Furkle Industries do for me?
  </h3>

  <p>
    Do you have a website? Do you want it to be faster, or better optimized
    for mobile screens and connections, or more functional? Are you planning or
    releasing narrative experiences that live on the Internet, and do you want
    them to take full advantage of the web as a platform? Don't have a website,
    but want one?
  </p>

  <p>
    Furkle Industries offers a range of services from technical research and
    troubleshooting to full-service work on hosting, programming, operating,
    and maintenance for your site or sites.
  </p>

  <h3>
    What has Furkle Industries done, and who did they do it for?
  </h3>

  <p>
    A brief selection of many recent projects can be found on the
    <a href="/projects">Projects</a> page.
  </p>

  <h3>
    How do I get in contact?
  </h3>

  <p>
    You can e-mail <a href="mailto:furkle@furkleindustries.com">furkle@furkleindustries.com</a>.
    Please provide a brief description of the project in your e-mail.
  </p>

  <h3>
    Anything else?
  </h3>

  <p>
    Furkle Industries also produces open-source code and free, open platforms
    for the creation of digital narratives and collaboration thereon. Twine
    Package Manager, a public package manager for modules and themes for the
    Twine hypertext system, will enter public beta in Q4 2018, and a set of
    tools for testing and standardizing Twine languages will follow in 2019.
  </p>

  <p>
    The Furkle Industries code repository is <a href="//github.com/furkleindustries">here</a>.
  </p>
</div>
