<div class="Home Page">
  <h1 class="Hero">
    Furkle Industries
  </h1>

  <section class="Intro">
    <p class="UnderConstruction">
      This site is under reconstruction after changing hosting providers and
      software architectures. Please pardon the mess in the meantime!
    </p>
  </section>

  <section class="body">
    <p class="Inquiries">
      For inquiries into retaining Furkle Industries for web development or
      narrative writing and design, check the <a href="/about">About</a> section
      or e-mail <a href="mailto:furkle@furkleindustries.com">furkle@furkleindustries.com</a>. 
    </p>
  </section>
</div>
