<div class="Home Page">
  <section class="Intro">
    <div class="Background"></div>

    <div class="HeroContainer">
      <h1 class="Headline">
        FURKLE INDUSTRIES
      </h1>

      <h3 class="Subheadline">
        A full-service consultancy for web and interactive narrative development.
      </h3>

      <button class="Next" (click)="scrollToSection(2)">
        TELL ME MORE
      </button>
    </div>
  </section>

  <section class="Navgrid">
    <div class="Background"></div>

    <div class="NavgridContainer">
      <app-navgrid></app-navgrid>
    </div>
  </section>
</div>
